$mainFrameColor: #121212;
$buttonFisrtColor: #e00e0f;
$buttonSecondColor: #fc3334;
$headerRightBottomFirstColor: #333333;
$headerRightBottomSecondColor: #1c1c1c;
$grey: #2c2c2c;
$menuColor: #2b2b2b;
$config: #4a4a4a;
$chooseRims1: #a3a3a3;
$chooseRims2: #949494;
$greyGradient1: #6e6e6e;
$greyGradient2: #5e5e5e;
$lowerFrame: #151515;
$greyText: #7e7e7e;

$contentWidth: 1020px;
$searchBarHeight: 49px;
