@import '_colors&dimensions.scss';
@import '_header.scss';
@import '_menu.scss';
@import '_main-content.scss';

.pageBackground {
	width: 1180px;
	height: 3000px;
	background-image: url(../images/background.jpg);
	margin: auto;
}
.background {
	clear: both;
	width: 1080px;
	height: 3000px;
	background-color: $mainFrameColor;
	margin: auto;
}